<app-admin-dashboard>
    <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let rank of rankings">
            <app-card-participant [participant]="rank.rankingId.member" [visible]="this.checkday==0" (numEmitter)="getNumparticiapnt($event)"></app-card-participant>
        </div>  
    </div>

    <!-- Modal to add hunt-->
    <app-add-hunt [member_id]="member_id" [competition_code]="competition_code" *ngIf="addHintVisible" (close)="addHintVisible=false"></app-add-hunt>
    
    <!-- button to add participant-->
    <div data-dial-init class="fixed end-6 bottom-6 group" *ngIf="this.checkday>0"> 
        <a [routerLink]="'/admin/competition/' + code + '/addRanking'" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
            <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </a>
    </div>

    <!-- button to dispaly poduim in old competition-->
    <div data-dial-init class="fixed end-6 bottom-6 group" *ngIf="this.checkday<0" >
        <a [routerLink]="'/admin/competition/' + code + '/podium'" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-green-500 rounded-full w-14 h-14 focus:ring-blue-300 focus:outline-none">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z"/>
                <path d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z"/>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </a>
    </div>

    <!-- button to validate hunting and calcukate poduim-->
    <div data-dial-init class="fixed end-6 bottom-6 group" *ngIf="this.checkday==0" >
        <button type="button" data-dial-toggle="speed-dial-menu-default" aria-controls="speed-dial-menu-default" aria-expanded="false" class="flex items-center justify-center text-white bg-green-500 rounded-full w-14 h-14 focus:ring-blue-300 focus:outline-none" (click)="calculeRanks()">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z"/>
                <path d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z"/>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </button>
    </div>
    
</app-admin-dashboard>
