
    <div class="max-w-sm px-4 py-3 bg-white rounded-md shadow-md dark:bg-gray-800">
        <div class="flex items-center justify-between">
            <span class="text-sm font-light text-gray-800 dark:text-gray-400">{{ participant.accessionDate }}</span>
            <span class="px-3 py-1 text-xs text-blue-800 uppercase bg-blue-200 rounded-full dark:bg-blue-300 dark:text-blue-900">{{ participant.nationality }}</span>
        </div>
        <div>
            <h1 class="mt-2 text-lg font-semibold text-gray-800 dark:text-white">{{ participant.name }} {{ participant.familyName }}</h1>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">{{ participant.identityNumber }}</p>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-300">{{ participant.identityDocument }}</p>
        </div>
        <br>
        <div class="flex justify-end mt-4">
            <a href="#" class="text-lg font-medium text-blue-600 dark:text-blue-300" tabindex="0" role="link">Add hunt</a>
        </div>
    </div>
