<app-admin-dashboard>
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <label class="block mb-2 font-medium text-gray-900 dark:text-white">Filtre by date</label>
        <select class="mb-6 block px-4 py-3 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            (change)="changefiltre($event.target)">
            <option selected disabled>Choose an option</option>
            <option value="old">Old</option>
            <option value="pending">Pending</option>
            <option value="future">Future</option>
        </select>
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Code
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Start
                            </th>
                            <th scope="col" class="px-6 py-3">
                                End
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Number of participants
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Location
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Amount
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let comp of competitions" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ comp.code }}
                            </th>
                            <td class="px-6 py-4">
                                {{ comp.date }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comp.startTime }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comp.endTime }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comp.numberOfParticipants }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comp.location }}
                            </td>
                            <td class="px-6 py-4">
                                {{ comp.amount }}
                            </td>
                            <td class="px-6 py-4">
                                <button type="button" class="font-medium text-red-600 dark:text-blue-500 hover:underline"><i class="fas fa-trash mr-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    Current Page : 
                <span class="font-semibold text-gray-900 dark:text-white">{{ currentPage+1 }}</span>
                </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <button (click)="previousPage(currentPage)" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </li>
                    <div *ngFor="let i of [].constructor(totalPages); let page = index">
                        <li>
                            <button (click)="paginate(page)" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{page+1}}</button>
                        </li>
                    </div>
                    <li>
                        <button (click)="nextPage(currentPage)" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <app-save-competition></app-save-competition>
</app-admin-dashboard>
